body {
    padding-top: 60px; /* Sesuaikan dengan tinggi navbar */
  }
  .jumbotron {
    background-image: url();
    background-size: cover;
    color: rgb(110, 192, 236);
  }

  .card {
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;
}